extends ../layout

block content
    h1 投票结果
    table
        tr
            td ID
            td 投票 
            td KEY
            td
        each doc in docs
            tr
                td #{doc._id}
                td #{doc.vote_name}[#{doc.vote_id}] 
                td #{doc.password}
                td 
                    a(href="/answer/#{doc._id}/show") 查看详细
                    a(href="/answer/#{doc._id}/destroy") 删除

