extends ../layout
block breadcrumbs
  ul.breadcrumb
    li
      a(href="/") 首页
      span.divider /
    li
      a(href="/vote") 投票
      span.divider /
    li.active #{votedata.name}
block content
  h1 添加一次投票

  form(method="post",action="/vote/#{votedata._id}")
    #setp1.well
      h2 基本信息
      label(for="title") 名称:
        input#name(name="name",type="text",value="#{votedata.name}")
        input(type="hidden",name="vtype",value="#{votedata.vtype}")
      label(for="note") 说明:
        textarea#note(name="note") #{votedata.note}

    #setp2
      h2 编辑选票单
      //选票单 sections
      for section,si in votedata.sections
        fieldset.section
          ///legend 选票单
          label 标题: 
            input(name="sections[#{si}][title]",type="text",value="#{section.title}")
          label 副标题:
            input(name="sections[#{si}][subtitle]",type="text",value="#{section.subtitle}")
          //子选票单 groups
          .group.row
            for group,gi in section.groups
              fieldset.group.span4
                if votedata.vtype == 'vote'
                    ///legend 组
                    ///label 标题:
                      input(name="sections[#{si}][groups][#{gi}][title]",placeholder="标题",type="hidden",value="#{group.title}")
                    label 限投
                      input(name="sections[#{si}][groups][#{gi}][max]",type="number",value="#{group.max}")
                      | 人
                    ///label 最少选几
                      input(name="sections[#{si}][groups][#{gi}][min]",type="number",type="hidden",value="#{group.min}")
                    //候选人
                    ol
                      for candidate,ci in group.candidates
                        li.candidate
                          input.span2(name="sections[#{si}][groups][#{gi}][candidates][#{ci}][org]",value="#{candidate.org}",type="text",placeholder="单位")
                          input.span1(name="sections[#{si}][groups][#{gi}][candidates][#{ci}][name]",value="#{candidate.name}",type="text",placeholder="姓名")
                          input.span1(name="sections[#{si}][groups][#{gi}][candidates][#{ci}][order]",value="#{candidate.order}",type="text",placeholder="序号")
                          //input(name="sections[#{si}][groups][#{gi}][candidates][#{ci}][photo]",type="text")
                          a(href="javascript:return false;",onclick="remove_field(this)")  删除
                      a.forvote(href="javascript:return false;",onclick="add_field(this,'candidate')")  添加候选人
                else
                    //参与评价的单位              
                    fieldset.formark.org
                      a(href="#",role="button",data-toggle="modal").btn.modalfire 选择参加评价的单位
                      div.modal.hide.fade
                        div.modal-header
                          button(type="button",data-dismiss="modal",aria-hidden="true").close &times;
                          h3 选择参加评价的单位
                        div.modal-body
                          p 
                            each org,i in allorgs
                              label.fullname.span2
                                input(type="checkbox",name="sections[0][groups][0][orgs][#{i}][fullname]",value="#{org.name}")
                                | #{org.name}
                              label.order.span1  
                                input(type="text",name="sections[0][groups][0][orgs][#{i}][order]",placeholder="序号")                          
                        div.modal-footer
                          button.btn.btn-primary(data-dismiss="modal",aria-hidden="true") 选好了
                    //评价指标
                    for question,qi in group.questions
                      fieldset.formark.question
                        | #{qi + 1} :
                        input(name="sections[#{si}][groups][#{gi}][questions][#{qi}][text]",value="#{question.text}",type="text",placeholder="一级指标内容").questiontext
                        input.input-mini(name="sections[#{si}][groups][#{gi}][questions][#{qi}][weight]",value="#{question.weight}",type="number",placeholder="分数")
                        fieldset.formark.subquestion
                          ol
                            for subquestion,subqi in question.subquestions
                              li 
                                | #{qi + 1}.#{subqi + 1} :
                                input(name="sections[#{si}][groups][#{gi}][questions][#{qi}][subquestions][#{subqi}][text]",value="#{subquestion.text}",type="text",placeholder="二级指标内容").questiontext
                                input.input-mini(name="sections[#{si}][groups][#{gi}][questions][#{qi}][subquestions][#{subqi}][weight]",value="#{subquestion.weight}",type="number",placeholder="分数")
                                a(href="javascript:return false;",onclick="remove_field(this)")  删除
                              a(href="javascript:return false;",onclick="add_field(this,'subquestion')")  添加二级指标
                        a(href="javascript:return false;",onclick="remove_field(this)")  删除指标
                      a.formark(href="javascript:return false;",onclick="add_field(this,'question')")  添加指标
                  a.deletebtn(href="javascript:return false;",onclick="remove_field(this)")  删除组
            a.btn.btn-info.addgroup(href="javascript:return false;",onclick="add_field(this,'group')")  添加组
            a.deletebtn(href="javascript:return false;",onclick="remove_field(this)")  删除选票单
      a.section.btn(href="javascript:return false;",onclick="add_field(this,'section')")  添加选票单

    #setp3
      //
        label 设置状态：
          if votedata.isopen == "no"
            input(type="radio",name="isopen",value="no",checked="checked")
          else
            input(type="radio",name="isopen",value="no")
          | 稍后开放
          if votedata.isopen == "yes"
            input(type="radio",name="isopen",value="yes",checked="checked")
          else
            input(type="radio",name="isopen",value="yes")
          | 立即开放
      input(type="hidden",name="_method",value="put")
      input.btn(type="submit")
  script(src="/javascripts/vote-editor.js")
