extends ../layout
block breadcrumbs
  ul.breadcrumb
    li
      a(href="/") 首页
      span.divider /
    li.active
      a(href="/vote") 投票
block content
    h1 全部投票记录
    a.btn(href="/vote/addvote") 
       i.icon-file
       | 添加投票
    a.btn(href="/vote/addmark") 
       i.icon-file
       | 添加评价
    ul#votelist.thumbnails
        for doc in docs
           li.span6
            div.thumbnail
                h4(class="#{doc.vtype}") #{doc.name}
                span.metainfo #{doc.created_date}
                .note #{doc.note}
                .actions
                    |操作：
                    a.btn(href="/vote/#{doc._id}/edit") 
                        i.icon-pencil
                        |修改
                    a.btn(href="/vote/#{doc._id}/clone") 
                        i.icon-repeat
                        |复制
                    a.btn(href="/vote/#{doc._id}/destroy") 
                        i.icon-remove
                        |删除
               
