extends ../layout
block breadcrumbs
  ul.breadcrumb
    li
      a(href="/") 首页
      span.divider /
    li.active
      a(href="/vote") 投票
      span.divider /
    li.active
      a(href="/vote/#{vote._id}") #{vote.name}
      span.divider /   
    li.active 投票结果 
block content
    h1 投票结果
    table
        tr
            th 需要表头？
    //
        each questions,org_name in result
            tr
                td #{result.org_name}
                each value,question_name in questions
                    td #{result.question_name}: #{result.value.avg}


    script(src="/javascripts/jquery.flot.js")

