extends ../layout
block breadcrumbs
  ul.breadcrumb
    li
      a(href="/") 首页
      span.divider /
    li
      a(href="/org") 单位
block content
    a(href="/org/add") 添加一条新单位
    h1 添加单位

    form(method="post",action="/org")
        p
          label(for="name") 名称
        p
          input#name(name="name",type="text")
        p
          label(for="note") 说明
        p
          textarea#note(name="note")
        p 
          input(type="submit")

    h1 全部单位
    table
        tr
            td ID
            td 名称
            td 说明
            td
        each doc in docs
            tr
                td #{doc._id}
                td #{doc.name}
                td #{doc.note}
                td 
                    a(href="/org/#{doc._id}/edit") 修改
                td 
                    a(href="/org/#{doc._id}/destroy") 删除

