extends ../layout
block breadcrumbs
  ul.breadcrumb
    li
      a(href="/") 首页
      span.divider /
    li
      a(href="/voter") 投票密码
block content
    h1 投票密码
    a(href="/voter/add") 生成投票密码
    table
        tr
            td 投票名称
            td 用户组
            td 
            td
        each doc in docs
            tr
                td #{doc.vote_name}
                td #{doc.role}
                //
                    td #{doc.login}
                td 共有#{doc.password.length}个密码
                td 
                    a(href="/voter/#{doc._id}") 查看
                td 
                    a(href="/voter/#{doc._id}/print") 打印
                td 
                    a(href="/voter/#{doc._id}/destroy") 删除

